# 1. Ignore standard environment/package folders
node_modules/
package-lock.json
package.json


# 2. Ignore local database files
db.json

# 3. Ignore all files inside Backend but keep the folder structure
src/Backend/*
!src/Backend/.gitkeep
!src/Backend/HomeBackend.js
!src/Backend/CheckBackend.js


# 4. Ignore all files inside Frontend subfolders but keep the folder structure
src/Frontend/Scripts/*
!src/Frontend/Scripts/.gitkeep
!src/Frontend/Scripts/CheckAssign.js
!src/Frontend/Scripts/HomeDesign.js
!src/Frontend/Scripts/Homesignup.js

src/Frontend/Templates/*
!src/Frontend/Templates/.gitkeep
!src/Frontend/Templates/index.html
!src/Frontend/Templates/CheckAssign.html

src/Frontend/styles/*
!src/Frontend/styles/.gitkeep
!src/Frontend/Scripts/Profile.js
!src/Frontend/Scripts/detailedReport.js

!src/Frontend/Templates/DetailedReport.html
!src/Frontend/Templates/profile.html

!src/Frontend/styles/profile.css



